*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}


body{

background:#050014;
color:white;

}



nav{

position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);

background:#09001f;

padding:15px 30px;

border-radius:50px;

box-shadow:
0 0 20px #8a2be2;

display:flex;
gap:30px;

z-index:100;

}



nav a{

color:white;
font-size:25px;

transition:.3s;

}



nav a:hover{

color:#a855ff;

text-shadow:
0 0 15px #a855ff;

}



section{

min-height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:50px;

}



h1{

font-size:60px;

}



span{

color:#a855ff;

text-shadow:
0 0 20px #a855ff;

}



p{

max-width:600px;

font-size:20px;

text-align:center;

color:#ccc;

margin-top:20px;

}



button{

margin-top:30px;

padding:15px 40px;

border:none;

border-radius:30px;

background:#a855ff;

color:white;

font-size:18px;

box-shadow:
0 0 25px #a855ff;

cursor:pointer;

}



.cards{

display:flex;

gap:30px;

margin-top:50px;

}



.card{

width:300px;

padding:30px;

background:#10002b;

border-radius:20px;

border:1px solid #a855ff;

box-shadow:
0 0 20px #5b21b6;


transition:.3s;

}



.card:hover{

transform:translateY(-10px);

box-shadow:
0 0 40px #a855ff;

}
